@media screen and (min-width: 1920px)  {
  body{
    width: 100%;
  }

  .r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10{
    display: none;
  }

  .r{
    padding-top: 7.2%;
  }

  h1{
    font-size: 210px;
    line-height: 246px;
  }

  h2{
      font-size: 160px;
      line-height: 160px;
  }

  h3{
      font-size: 104px;
      line-height: 104px;
  }

  h4{
      font-size: 52px;
      line-height: 60px;

  }

  a{
    font-size: 20px;
    line-height: 32px;
  }

  .cand{
    margin-top: -7%;
  }

  .box1{
    display: none;
  }

  .b2{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
   }
}


@media screen and (min-width: 1440px) and (max-width: 1919px) {

  .r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10{
    display: none;
  }

  .box1{
    display: none;
  }

  .b1{
    padding-top: 8%;
    padding-bottom: 8%;
  }

  .b2{
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .logo{
    width: 74%;
  }

  .r{
    padding-bottom: 15%;
  }

  .o4{
    padding-bottom: 8%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {

  .box1{
    display: none;
  }

  .r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10{
    display: none;
  }

  .cand{
    margin-top: -6%;
  }

  h1{
    font-size: 140px;
    line-height: 164px;
  }

  h2{
    font-size: 106px;
    line-height: 106px;
  }

  h3{
    font-size: 68px;
    line-height: 68px;
  }

  h4{
    font-size: 36px;
    line-height: 42px;

  }

  .r{
    padding-bottom: 14%;
  }

  .o4{
    padding-bottom: 8%;
  }

  .b2{
    padding-top: 3%;
    padding-bottom: 3%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .box1{
    display: none;
  }

  .r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10{
    display: none;
  }

  .r{
    padding-bottom: 23%;
  }
  .o4{
    padding-bottom: 6%;
  }

  .cand{
    margin-top: -6%;
  }

  h1{
    font-size: 112px;
    line-height: 130px;
  }

  h2{
    font-size: 84px;
    line-height: 84px;
  }

  h3{
    font-size: 54px;
    line-height: 54px;
  }

  h4{
    font-size: 30px;
    line-height: 30px;
  }

  .b1{
    padding-top: 12%;
    padding-bottom: 12%;
  }

  .b2{
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .logo{
    width: 70%;
  }

  .n1{
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .n3{
    padding-bottom: 60%;
  }

  .row1{
    padding-top: 15%;
  }

  .row2{
    padding-bottom: 15%;
  }


  }

  }

@media screen and (min-width: 768px) and (max-width: 1023px){

  .box1{
    display: none;
  }

  .r1, .r2, .r3, .r4, .r5, .r6{
    display: none;
  }

  .cand{
    margin-top: 30%;
  }

  .logo{
    width: 80%;
  }

  h1{
    font-size: 94px;
    line-height: 110px;
  }

  h2{
    font-size: 72px;
    line-height: 72px;
  }

  h3{
    font-size: 46px;
    line-height: 46px;
  }

  h4{
    font-size: 26px;
    line-height: 30px;
  }

  .t3{
    padding-top: 32%;
  }

  .b1{
    padding-top: 12%;
    padding-bottom: 12%;
  }

  .b2{
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .n1{
    padding-top: 12%;
    padding-bottom: 12%;
  }

  .n2{
    flex-direction: row;
    padding-top: 20%;
    padding-bottom: 20%;
  }

  .n3{
    padding-bottom: 100%;
  }

  .n4{
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .n6{
    padding-top: 10%;

  }

  .row1{
    transform: rotate(90deg);
    padding-top: 24%;
    padding-bottom: 24%;
  }

  .row2{
    transform: rotate(90deg);
    margin-left: -20%;

  }

  .im1{
    width: 44%;
  }

  .im2{
    width: 44%;
    margin-left: 4%;
  }

  .im3{
    width: 44%;
    margin-left: 4%;
  }

  .im4{
    width: 44%;
  }

  .im5{
    width: 44%;
    margin-left: 4%;
  }

  .im6{
    width: 44%;
    margin-left: 4%;
  }

  .o4{
    padding-bottom: 51%;
  }



}

/* -------------------------------------------------------------------------414 */


@media screen and (min-width: 414px) and (max-width: 767px){

  body{
    width: 100%;
  }

  .cand1{
    display: none;
  }

  .box{
    display: none;
  }

  .t4{
    display: none;
  }

  .n12{
    display: none;
  }

  .sec1{
    flex-direction: column;
    justify-content: center;
  }

  .sec3{
    width: 100%;
  }

  .sec4{
    width: 100%;
  }

  .bl1{
    width: 100%;
  }

  .b1{
    justify-content: center;

  }

  .bl2{
    width: 100%;
  }

  h1{
    font-size: 80px;
    line-height: 93px;
  }

  h2{
    font-size: 64px;
    line-height: 75px;
  }

  h3{
    font-size: 38px;
    line-height: 38px;
  }

  h4{
    font-size: 22px;
    line-height: 25px;
    text-align: center;
  }

  .t3{
    margin-left: 84%;
    margin-top: 48%;
  }

  .cand{
    padding-right: 0%;
    width: 32%;
    margin-top: -12%;
  }

  .bl2{
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .bl3{
    width: 70%;
  }

  .bl4{
    width: 30%;
  }

  .b3{
    flex-direction: column;
  }

  .o1{
    width: 100%
  }

  .o2{
    width: 100%
  }

  .o5{
    flex-direction: column;
    justify-content: center;
    width: 100%
  }

  .o6{
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%
  }

  .o7{
    flex-direction: column;
    justify-content: center;
    width: 100%
  }

  .o8{
    width: 100%;
    di
  }

  .o9{
    width: 100%;

  }

  .n1{
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .n2{
    padding-top: 6%;
    padding-bottom: 6%;
  }

  .n3{
    width: 100%;
  }

  .n5{
    width: 100%;

  }

  .n6{
    width: 100%;
    padding-top:8%;
    padding-bottom: 16%;
  }

  .n7{
    width: 100%;
    padding-top:20%;
    padding-bottom: 20%;
  }

  .n8{
    width: 100%;

  }

  .n9{
    width: 100%;

  }

  .n10{
    width: 100%;
    padding-top:16%;
    padding-bottom: 16%;
  }

  .n11{
    width: 100%;
  }

  .box1{
    margin-left: -80%;
    width: 120%;
    margin-top: 20%;
    overflow-x: hidden;
  }

  .cand2{
    width: 32%;
    height: 64%;
    margin-left: 8%;
    margin-top: 46%;
  }


  .cand3{
    width: 28%;
    height: 48%;
    margin-top: 56%;
    margin-left: -2%;
    }

  .r9{
    padding-bottom: 31%;
  }

}

@media screen and (min-width: 320px) and (max-width: 413px){
  h1{
    font-size: 40px;
    line-height: 53px;
    color: brown;
  }
}
